@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;400;700;900&display=swap');

html,
#root{
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', serif;
}

body {
  margin: 0;
	font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}